.homepage_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #3822cd;
}

.homepage_div_big_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 5px;

  color: white;
  font-size: 5rem;
}
