.top_half {
  display: flex;
  flex-direction: row;
}

.top_half_left_side {
  background-color: #ff8c00;
  width: 50%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.top_half_right_side {
  background-color: #0000cd;
  width: 50%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text1 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(20%, -100%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 5em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 10px 5px 5px 5px rgb(0, 0, 0);
}

.text2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(110%, -100%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 5em;
  font-weight: 700;
  color: #f5f5f5;
}

.bottom_right {
  position: absolute;
}
