.contact_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_textarea {
  height: 100px;
  width: 100%;
}

.contact_page_and_form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
  padding: 10px;
}

input {
  border-radius: 5px;
}

select {
  height: 30px;
  width: 100%;
}

textarea {
  border-radius: 5px;
}
