ul {
  margin: 0px;
  padding: 0px;
  width: 100%;

  list-style-type: none;
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;

  background-color: #3822cd;
}

.nav_link {
  display: block;

  color: #ffffff;

  padding: 10px;
  margin: 20px;

  text-decoration: none;

  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: large;
  font-weight: 800;
}

.nav_link:hover {
  background-color: rgb(0, 141, 218);
  transition: ease 0.5s;
}

@media (max-width: 600px) {
  ul {
    justify-content: center;
  }
}
