.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mountain {
  width: 100%;
  height: 600px;
}

.head_text {
  position: relative;
}
.text_on_image {
  color: white;
  position: absolute;
  left: 40%;
  bottom: 60%;
}
