.cv_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv_page_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  background-color: #7510f7;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience_tabs {
  display: flex;
  flex-direction: row;

  border: 1px solid grey;
  border-radius: 10px;
}

.exp_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 10px;
}

.exp_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 10px;
}

.exp_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px;
}

img {
  width: 80px;
  height: 80px;
  padding: 5px;
}
